@model Cars.Models.BranchModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<h1>Edit Branch</h1>

<h4>Branch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BranchID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchIP" class="control-label"></label>
                <input asp-for="BranchIP" class="form-control" />
                <span asp-validation-for="BranchIP" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-3" style="width:auto" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Branch" class="btn btn-primary mb-3" style="width:auto">Back to List</a>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.ErrorMessage");
            };
    </script>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    ChangeColorSidebarItem("branches", "abranches");
</script>
}