# Google App Engine generated folder
appengine-generated/
/Cars/bin/Debug/net5.0
/.vs/Cars
/Cars/obj
/Cars/bin/Release/net5.0
/Cars/Properties/PublishProfiles
Cars/Cars.csproj.user
Cars/Cars.csproj.user
Cars/Cars.csproj.user
