<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">
        You DoN't Have Persmission to View this Resource Please Contact The Administrator
    </h6>
    <img src="~/images/noaccess.jpg" style="height:300px; width:70%" />
</div>