<div class="text-center">
    <h1 class="text-warning">Users License</h1>
    <h6 class="text-warning">
        You DoN't Have Licence To Add More Than 300 Users, For  more Infromation Please Contact Deqqa.
    </h6>
    <img src="~/images/warningicon.png" style="height:200px; width:20%" />
</div>